.headline {
  text-align: center; }
  .headline h2 {
    font-weight: bold;
    font-size: 4.1rem;
    margin-top: 0;
    margin-bottom: 0; }
    .headline h2.headline_services {
      color: white; }
    .headline h2.headline_team {
      color: #3C4761; }
    .headline h2.headline_skills {
      color: #3C4761; }
    .headline h2.headline_portfolio {
      color: #393939; }
    .headline h2.headline_testimonials {
      color: white; }
    .headline h2.headline_form {
      color: white; }
  .headline .underscore {
    display: inline-block;
    width: 87px;
    height: 4px;
    margin-bottom: 1%; }
    .headline .underscore.headline_services {
      background-color: #14A58C; }
    .headline .underscore.headline_team {
      background-color: #DFE8ED; }
    .headline .underscore.headline_skills {
      background-color: #DFE8ED; }
    .headline .underscore.headline_portfolio {
      background-color: #E5C37F; }
    .headline .underscore.headline_testimonials {
      background-color: #B73C6D; }
    .headline .underscore.headline_form {
      background-color: #273A71; }
  .headline p {
    font-size: 1.8rem;
    margin-top: 0; }
    .headline p.headline_services {
      color: white; }
    .headline p.headline_team {
      color: #3C4761; }
    .headline p.headline_skills {
      color: #3C4761; }
    .headline p.headline_portfolio {
      color: #393939; }
    .headline p.headline_testimonials {
      color: white; }
    .headline p.headline_form {
      color: white; }

.clear:before, .clear:after {
  content: ' ';
  display: table; }

.clear {
  *zoom: 1; }
  .clear:after {
    clear: both; }

* {
  box-sizing: border-box; }

html {
  font-size: 10px; }

body {
  font-family: 'Titillium Web', sans-serif; }

/*! normalize.css v4.1.1 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Prevent adjustments of font size after orientation changes in IE and iOS.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 * 2. Add the correct display in IE.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  /* 1 */
  display: block; }

/**
 * Add the correct display in IE 9-.
 */
audio,
canvas,
progress,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Add the correct display in IE 10-.
 * 1. Add the correct display in IE.
 */
template,
[hidden] {
  display: none; }

/* Links
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
  outline-width: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/* Forms
   ========================================================================== */
/**
 * 1. Change font properties to `inherit` in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
select,
textarea {
  font: inherit;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Restore the font weight unset by the previous rule.
 */
optgroup {
  font-weight: bold; }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on OS X.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Correct the text style of placeholders in Chrome, Edge, and Safari.
 */
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

.headline {
  text-align: center; }
  .headline h2 {
    font-weight: bold;
    font-size: 4.1rem;
    margin-top: 0;
    margin-bottom: 0; }
    .headline h2.headline_services {
      color: white; }
    .headline h2.headline_team {
      color: #3C4761; }
    .headline h2.headline_skills {
      color: #3C4761; }
    .headline h2.headline_portfolio {
      color: #393939; }
    .headline h2.headline_testimonials {
      color: white; }
    .headline h2.headline_form {
      color: white; }
  .headline .underscore {
    display: inline-block;
    width: 87px;
    height: 4px;
    margin-bottom: 1%; }
    .headline .underscore.headline_services {
      background-color: #14A58C; }
    .headline .underscore.headline_team {
      background-color: #DFE8ED; }
    .headline .underscore.headline_skills {
      background-color: #DFE8ED; }
    .headline .underscore.headline_portfolio {
      background-color: #E5C37F; }
    .headline .underscore.headline_testimonials {
      background-color: #B73C6D; }
    .headline .underscore.headline_form {
      background-color: #273A71; }
  .headline p {
    font-size: 1.8rem;
    margin-top: 0; }
    .headline p.headline_services {
      color: white; }
    .headline p.headline_team {
      color: #3C4761; }
    .headline p.headline_skills {
      color: #3C4761; }
    .headline p.headline_portfolio {
      color: #393939; }
    .headline p.headline_testimonials {
      color: white; }
    .headline p.headline_form {
      color: white; }

.header {
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  z-index: 100; }
  .header .wrapper_header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between;
    -ms-flex-align: center;
        align-items: center;
    max-width: 1140px;
    margin: 0 auto; }
    .header .wrapper_header .logo {
      height: 36px;
      margin-left: 43px; }
    .header .wrapper_header .nav {
      margin-right: 35px; }
      .header .wrapper_header .nav ul {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: justify;
            justify-content: space-between;
        width: 100%;
        height: 33px;
        list-style: none; }
        .header .wrapper_header .nav ul li {
          position: relative;
          width: 77px;
          text-align: center; }
          .header .wrapper_header .nav ul li a {
            width: 100%;
            height: 100%;
            display: inline-block;
            padding: 4px;
            font-size: 1.6rem;
            text-decoration: none;
            color: #FFF; }
            .header .wrapper_header .nav ul li a:hover {
              background-color: #643A79;
              border-radius: 4px; }

.main .baner {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  background-color: #87509C; }
  .main .baner h1 {
    width: 75%;
    font-family: 'Titillium Web';
    font-weight: bold;
    font-size: 4.1rem;
    line-height: 4.8rem;
    text-align: center;
    color: #fff;
    margin-top: -5%;
    margin-bottom: 9%; }

.main .services {
  background-color: #17C2A4; }
  .main .services .columns_services {
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around; }
    .main .services .columns_services article {
      text-align: center;
      margin-top: 80px; }
      .main .services .columns_services article img {
        height: 125px; }
      .main .services .columns_services article h4 {
        font-size: 2.4rem;
        color: #fff; }
      .main .services .columns_services article p {
        font-size: 1.6rem;
        color: #fff; }

.main .team {
  background-color: #E7F1F8; }
  .main .team .columns_team {
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around; }
    .main .team .columns_team article {
      text-align: center;
      margin-top: 80px; }
      .main .team .columns_team article .team_h4 {
        margin-bottom: 0;
        font-size: 2.4rem;
        color: #3C4761; }
      .main .team .columns_team article h6 {
        font-size: 1.6rem;
        color: #48C1E9;
        margin-top: 0;
        margin-bottom: 28px; }
      .main .team .columns_team article p {
        font-size: 1.6rem;
        line-height: 2.4rem;
        color: #3C4761; }
      .main .team .columns_team article .icons {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: center;
            justify-content: center;
        width: 100%; }
        .main .team .columns_team article .icons a {
          margin: 0 6px;
          width: 3.2rem;
          height: 3.2rem;
          background-color: #BDD1DF;
          border-radius: 50%; }
          .main .team .columns_team article .icons a:hover {
            background-color: #6795b5; }
          .main .team .columns_team article .icons a i {
            margin-top: 25%;
            font-size: 1.6rem;
            color: #fff; }
            .main .team .columns_team article .icons a i:hover {
              font-size: 1.8rem;
              margin-top: 20%; }

.main .skills {
  background-color: #fff; }
  .main .skills .columns_skills {
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around; }
    .main .skills .columns_skills article {
      text-align: center;
      margin-top: 80px; }
      .main .skills .columns_skills article .progress_bar {
        position: relative; }
        .main .skills .columns_skills article .progress_bar p {
          position: absolute;
          font-size: 5rem;
          color: #3c4761;
          font-weight: lighter;
          top: -5%;
          left: 27%; }
      .main .skills .columns_skills article h4 {
        font-size: 2.4rem;
        color: #3C4761; }

.main .portfolio {
  background-color: #FFDD99; }
  .main .portfolio .nav ul {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between;
    width: 100%;
    height: 33px;
    list-style: none;
    padding-left: 0; }
    .main .portfolio .nav ul li {
      position: relative;
      width: 77px;
      text-align: center;
      margin: 0 5px; }
      .main .portfolio .nav ul li a {
        width: 100%;
        height: 100%;
        display: inline-block;
        padding: 4px;
        background-color: #EBC985;
        color: #393939;
        font-size: 1.6rem;
        text-decoration: none;
        border-radius: 4px; }
        .main .portfolio .nav ul li a:hover {
          background-color: #fff;
          border-radius: 4px; }
  .main .portfolio .desktops {
    margin-top: 30px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .main .portfolio .desktops figure {
      width: 49%;
      text-align: center;
      margin: 0;
      margin-bottom: 60px; }
      .main .portfolio .desktops figure img {
        max-width: 100%;
        height: auto; }
      .main .portfolio .desktops figure figcaption {
        margin-top: 22px;
        font-size: 1.8rem;
        color: #393939; }

.main .testimonials {
  background-color: #D74680; }
  .main .testimonials .people_reviews {
    width: 100%;
    margin-top: 30px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .main .testimonials .people_reviews article {
      width: 49%;
      margin-bottom: 8%;
      display: -ms-flexbox;
      display: flex; }
      .main .testimonials .people_reviews article img {
        height: 100px; }
      .main .testimonials .people_reviews article .review {
        margin-left: 46px; }
        .main .testimonials .people_reviews article .review p {
          margin: 0;
          color: white;
          font-size: 2.1rem;
          font-style: italic; }
        .main .testimonials .people_reviews article .review h4 {
          margin-bottom: 0;
          color: white;
          font-size: 2.4rem; }
        .main .testimonials .people_reviews article .review h6 {
          margin-top: 0;
          margin-bottom: 0;
          color: #ffdd99;
          font-size: 1.6rem; }

.main .form {
  width: 100%;
  background-color: #3C5499; }
  .main .form .section_form {
    width: 80%;
    margin-top: 60px; }

.footer {
  height: 112px;
  background-color: #344B8E;
  margin: 0;
  padding: 0; }
  .footer .wrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between;
    -ms-flex-align: center;
        align-items: center;
    max-width: 1140px;
    margin: 0 auto;
    padding-top: 30px; }
    .footer .wrapper .nav {
      margin: 0 auto;
      width: 100%; }
      .footer .wrapper .nav ul {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: distribute;
            justify-content: space-around;
        margin: 0;
        padding: 5px;
        list-style: none; }
        .footer .wrapper .nav ul li {
          position: relative;
          text-align: center; }
          .footer .wrapper .nav ul li a {
            width: 100%;
            height: 100%;
            display: inline-block;
            font-size: 2.4rem;
            text-decoration: none;
            color: #FFF; }
            .footer .wrapper .nav ul li a:hover {
              color: #30BAE7; }

.wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  max-width: 1140px;
  margin: 0 auto; }
  .wrapper_baner {
    padding-top: 22%;
    padding-bottom: 13%; }
  .wrapper_services {
    padding-top: 120px;
    padding-bottom: 10%; }
  .wrapper_team {
    padding-top: 120px;
    padding-bottom: 10%; }
  .wrapper_skills {
    padding-top: 120px;
    padding-bottom: 10%; }
  .wrapper_portfolio {
    padding-top: 120px;
    padding-bottom: 10%; }
  .wrapper_testimonials {
    padding-top: 120px;
    padding-bottom: 2%; }
  .wrapper_form {
    width: 100%;
    padding-top: 120px;
    padding-bottom: 10%; }

form {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap;
  width: 100%; }
  form .label {
    position: relative; }
  form .form-control {
    background-color: #273A71;
    border: 0.001px solid black;
    border-radius: 4px;
    font-size: 1.8rem;
    color: white;
    padding-left: 12px; }
    form .form-control:focus, form .form-control:valid {
      outline: 0; }
      form .form-control:focus + label, form .form-control:valid + label {
        display: none; }
    form .form-control:invalid {
      box-shadow: none; }
  form label {
    position: absolute;
    left: 12px;
    top: 14px;
    color: white;
    pointer-events: none;
    font-size: 1.8rem; }
    form label span {
      color: red;
      font-weight: 700; }
  form .input_name, form .input_email {
    width: 48%; }
    form .input_name input, form .input_email input {
      width: 100%;
      height: 58px; }
  form .input_name {
    margin-right: 4%; }
  form .textarea {
    width: 100%;
    margin-top: 28px; }
    form .textarea textarea {
      width: 100%;
      padding-top: 14px; }

.btn {
  display: inline-block;
  width: 293px;
  height: 70px;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  color: #fff;
  border-radius: 6px;
  font-family: 'Titillium Web';
  font-size: 1.8rem;
  text-align: center;
  padding-top: 22px; }
  .btn-orange {
    background-color: #EB7D4B;
    border-bottom: solid #C86A40; }
    .btn-orange:hover {
      background-color: #ee8e62; }
  .btn-green {
    margin-top: 24px;
    background-color: #17C2A4;
    border-bottom: solid #14A58C; }
    .btn-green:hover {
      background-color: #1ad9b7; }
  .btn-blue {
    margin-top: 58px;
    background-color: #30bae7;
    border: solid #30bae7;
    border-bottom: solid #299ec5;
    padding-top: 0;
    cursor: pointer; }
    .btn-blue:hover {
      background-color: #50c5eb; }

.menu-toggle {
  display: none; }

@font-face {
  font-family: 'Font-Name';
  src: url("../fonts/font-name.eot");
  src: url("../fonts/font-name.eot?#iefix") format("embedded-opentype"), url("../fonts/font-name.woff") format("woff"), url("../fonts/font-name.ttf") format("truetype"), url("../fonts/font-name.svg#font-name") format("svg");
  font-weight: normal;
  font-style: normal; }

::-moz-selection {
  background: #333;
  color: #fff;
  text-shadow: none; }

::selection {
  background: #333;
  color: #fff;
  text-shadow: none; }

::-moz-selection {
  background: #333;
  color: #fff;
  text-shadow: none; }

::-webkit-selection {
  background: #333;
  color: #fff;
  text-shadow: none; }

@media screen and (min-width: 771px) {
  .header .wrapper_header .nav .menu {
    display: -ms-flexbox;
    display: flex; } }

@media screen and (max-width: 1025px) {
  .header .wrapper_head {
    max-width: 960px; }
  .main .headline h2 {
    font-size: 3rem; }
  .main .headline p {
    font-size: 1.6rem;
    margin-bottom: 0; }
  .main .baner .wrapper_baner {
    padding-top: 18%;
    padding-bottom: 10%; }
    .main .baner .wrapper_baner h1 {
      font-size: 3.2rem;
      margin-top: 0%;
      margin-bottom: 5%;
      width: 65%; }
    .main .baner .wrapper_baner .btn-orange {
      width: 26rem; }
  .main .services .wrapper_services {
    padding-top: 8%;
    padding-bottom: 8%; }
    .main .services .wrapper_services .columns_services article {
      margin-top: 30px; }
      .main .services .wrapper_services .columns_services article img {
        height: 100px; }
      .main .services .wrapper_services .columns_services article h4 {
        font-size: 1.8rem;
        margin-top: 14px;
        margin-bottom: 14px; }
      .main .services .wrapper_services .columns_services article p {
        font-size: 1.3rem;
        margin-top: 10px;
        margin-bottom: 10px; }
  .main .team .wrapper_team {
    padding-top: 8%;
    padding-bottom: 8%; }
    .main .team .wrapper_team .columns_team article {
      margin-top: 25px;
      width: 50%; }
      .main .team .wrapper_team .columns_team article img {
        height: 150px; }
      .main .team .wrapper_team .columns_team article h4 {
        font-size: 1.8rem;
        margin-top: 10px; }
      .main .team .wrapper_team .columns_team article h6 {
        font-size: 1.3rem;
        margin-bottom: 5px; }
      .main .team .wrapper_team .columns_team article p {
        font-size: 1.3rem; }
      .main .team .wrapper_team .columns_team article .icons a {
        width: 2.6rem;
        height: 2.6rem; }
        .main .team .wrapper_team .columns_team article .icons a i {
          font-size: 1.4rem; }
  .main .skills .wrapper_skills {
    padding-top: 8%;
    padding-bottom: 8%; }
    .main .skills .wrapper_skills .columns_skills article {
      margin-top: 25px; }
      .main .skills .wrapper_skills .columns_skills article .progress_bar img {
        height: 120px; }
      .main .skills .wrapper_skills .columns_skills article .progress_bar p {
        font-size: 3rem;
        top: 7%;
        left: 34%; }
      .main .skills .wrapper_skills .columns_skills article h4 {
        font-size: 2rem;
        margin-top: 10px;
        margin-bottom: 4px; }
  .main .portfolio .wrapper_portfolio {
    padding-top: 8%;
    padding-bottom: 8%; }
    .main .portfolio .wrapper_portfolio .desktops {
      -ms-flex-direction: column;
          flex-direction: column; }
      .main .portfolio .wrapper_portfolio .desktops figure {
        width: 100%; }
        .main .portfolio .wrapper_portfolio .desktops figure figcaption {
          margin-top: 20px;
          font-size: 1.6rem; }
    .main .portfolio .wrapper_portfolio .btn-green {
      width: 26rem;
      margin-top: 12px; }
  .main .testimonials .wrapper_testimonials {
    padding-top: 8%;
    padding-bottom: 0; }
    .main .testimonials .wrapper_testimonials .people_reviews article {
      margin-bottom: 8%; }
      .main .testimonials .wrapper_testimonials .people_reviews article .review p {
        font-size: 1.8rem; }
      .main .testimonials .wrapper_testimonials .people_reviews article .review h4 {
        font-size: 2.2rem;
        margin-top: 20px; }
      .main .testimonials .wrapper_testimonials .people_reviews article .review h6 {
        font-size: 1.5rem; }
  .main .form .wrapper_form {
    padding-top: 8%;
    padding-bottom: 8%; }
  .footer {
    height: 100px; }
    .footer .wrapper {
      padding-top: 26px; }
      .footer .wrapper .nav ul li a {
        font-size: 2.2rem; } }

@media screen and (max-width: 905px) {
  .header {
    top: 40px; }
  .main .testimonials .wrapper_testimonials .people_reviews article {
    width: 51%; }
    .main .testimonials .wrapper_testimonials .people_reviews article .review {
      margin-left: 30px; }
      .main .testimonials .wrapper_testimonials .people_reviews article .review h4 {
        margin-top: 12px; } }

@media screen and (max-width: 769px) {
  .header {
    top: 30px; }
    .header .wrapper_header {
      max-width: 960px; }
      .header .wrapper_header .logo {
        height: 32px; }
      .header .wrapper_header .nav {
        margin-right: 28px;
        position: relative; }
        .header .wrapper_header .nav .menu-toggle {
          display: inline-block;
          border: none;
          background-color: transparent;
          padding: 0;
          width: 40px;
          cursor: pointer;
          outline: 0; }
          .header .wrapper_header .nav .menu-toggle span {
            display: block;
            height: 3px;
            background: #fff; }
            .header .wrapper_header .nav .menu-toggle span + span {
              margin-top: 6px; }
          .header .wrapper_header .nav .menu-toggle.active span:first-child {
            top: 0;
            -ms-transform: rotate(45deg);
                transform: rotate(45deg); }
          .header .wrapper_header .nav .menu-toggle.active span:last-child {
            bottom: 0;
            -ms-transform: rotate(-45deg);
                transform: rotate(-45deg); }
          .header .wrapper_header .nav .menu-toggle.active .menu_span-close {
            background: none; }
        .header .wrapper_header .nav .menu {
          display: none; }
          .header .wrapper_header .nav .menu-visible {
            display: block;
            position: absolute;
            height: auto;
            background: rgba(4, 17, 50, 0.8);
            border-radius: 8px;
            width: 100px;
            padding-left: 30%;
            top: -45%;
            right: 110%; }
            .header .wrapper_header .nav .menu-visible li {
              margin-left: 0; }
              .header .wrapper_header .nav .menu-visible li a {
                padding: 10px 0; }
  .main .headline h2 {
    font-size: 2.6rem; }
  .main .headline p {
    font-size: 1.4rem;
    margin-bottom: 0; }
  .main .baner .wrapper_baner {
    padding-top: 16%;
    padding-bottom: 8%; }
    .main .baner .wrapper_baner h1 {
      font-size: 2.8rem;
      margin-top: 0%;
      margin-bottom: 2%; }
    .main .baner .wrapper_baner .btn-orange {
      width: 18rem;
      height: 6rem;
      font-size: 1.4rem;
      padding-top: 18px; }
  .main .services .wrapper_services {
    padding-top: 6%;
    padding-bottom: 6%; }
    .main .services .wrapper_services .columns_services article {
      margin-top: 18px; }
      .main .services .wrapper_services .columns_services article img {
        height: 90px; }
      .main .services .wrapper_services .columns_services article h4 {
        font-size: 1.8rem; }
      .main .services .wrapper_services .columns_services article p {
        font-size: 1.3rem; }
  .main .team .wrapper_team {
    padding-top: 6%;
    padding-bottom: 6%; }
    .main .team .wrapper_team .columns_team article {
      margin-top: 24px; }
      .main .team .wrapper_team .columns_team article img {
        height: 150px; }
      .main .team .wrapper_team .columns_team article h4 {
        font-size: 1.8rem;
        margin-top: 4px; }
      .main .team .wrapper_team .columns_team article h6 {
        font-size: 1.3rem;
        margin-bottom: 0px; }
      .main .team .wrapper_team .columns_team article p {
        font-size: 1.3rem;
        line-height: 1.8rem;
        margin-top: 8px;
        margin-bottom: 8px; }
  .main .skills .wrapper_skills {
    padding-top: 6%;
    padding-bottom: 6%; }
    .main .skills .wrapper_skills .columns_skills article {
      margin-top: 24px; }
      .main .skills .wrapper_skills .columns_skills article .progress_bar img {
        height: 100px; }
      .main .skills .wrapper_skills .columns_skills article .progress_bar p {
        font-size: 3rem;
        top: 27%;
        left: 32%;
        margin: 0; }
      .main .skills .wrapper_skills .columns_skills article h4 {
        font-size: 1.6rem;
        margin-top: 10px;
        margin-bottom: 0px; }
  .main .portfolio .wrapper_portfolio {
    padding-top: 6%;
    padding-bottom: 6%; }
    .main .portfolio .wrapper_portfolio .nav ul li {
      width: 60px; }
      .main .portfolio .wrapper_portfolio .nav ul li a {
        font-size: 1.4rem; }
    .main .portfolio .wrapper_portfolio .desktops {
      -ms-flex-direction: column;
          flex-direction: column;
      margin-top: 16px; }
      .main .portfolio .wrapper_portfolio .desktops figure {
        width: 100%; }
        .main .portfolio .wrapper_portfolio .desktops figure figcaption {
          margin-top: 12px;
          font-size: 1.4rem; }
    .main .portfolio .wrapper_portfolio .btn-green {
      width: 18rem;
      height: 6rem;
      font-size: 1.4rem;
      margin-top: 10px;
      padding-top: 20px; }
  .main .testimonials .wrapper_testimonials {
    padding-top: 6%;
    padding-bottom: 0; }
    .main .testimonials .wrapper_testimonials .people_reviews {
      margin-top: 20px; }
      .main .testimonials .wrapper_testimonials .people_reviews article {
        margin-bottom: 4%; }
        .main .testimonials .wrapper_testimonials .people_reviews article img {
          height: 90px; }
        .main .testimonials .wrapper_testimonials .people_reviews article .review {
          margin-left: 18px; }
          .main .testimonials .wrapper_testimonials .people_reviews article .review p {
            font-size: 1.6rem; }
          .main .testimonials .wrapper_testimonials .people_reviews article .review h4 {
            font-size: 1.8rem;
            margin-top: 8px; }
          .main .testimonials .wrapper_testimonials .people_reviews article .review h6 {
            font-size: 1.3rem; }
  .main .form .wrapper_form {
    padding-top: 6%;
    padding-bottom: 6%; }
    .main .form .wrapper_form .section_form {
      width: 75%;
      margin-top: 40px; }
      .main .form .wrapper_form .section_form form .input_name label, .main .form .wrapper_form .section_form form .input_email label, .main .form .wrapper_form .section_form form .textarea label {
        font-size: 1.4rem; }
      .main .form .wrapper_form .section_form form .input_name input, .main .form .wrapper_form .section_form form .input_email input, .main .form .wrapper_form .section_form form .textarea input {
        height: 48px; }
      .main .form .wrapper_form .section_form form .input_name .form-control, .main .form .wrapper_form .section_form form .input_email .form-control, .main .form .wrapper_form .section_form form .textarea .form-control {
        font-size: 1.4rem; }
      .main .form .wrapper_form .section_form form .textarea {
        margin-top: 22px; }
      .main .form .wrapper_form .section_form form .btn-blue {
        width: 18rem;
        height: 5.6rem;
        font-size: 1.4rem;
        margin-top: 36px; }
  .footer {
    height: 86px; }
    .footer .wrapper {
      padding-top: 24px; }
      .footer .wrapper .nav ul li a {
        font-size: 1.8rem; } }

@media screen and (max-width: 670px) {
  .main .baner .wrapper_baner h1 {
    width: 70%; }
  .main .services .columns_services {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .main .services .columns_services article {
      width: 50%; }
  .main .team .columns_team {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .main .team .columns_team article {
      width: 50%; }
  .main .portfolio .desktops figure img {
    height: 250px; }
  .main .testimonials .wrapper_testimonials .people_reviews article {
    width: 70%; } }

@media screen and (max-width: 580px) {
  .main .baner .wrapper_baner h1 {
    width: 70%;
    font-size: 2.4rem;
    line-height: 4rem; }
  .footer .wrapper .nav ul li a {
    font-size: 1.6rem; } }

@media screen and (max-width: 500px) {
  .main .headline p.headline_services {
    margin: 0 18%; }
  .main .headline p.headline_team {
    margin: 0 22%; }
  .main .headline p.headline_skills {
    margin: 0 18%; }
  .main .headline p.headline_form {
    margin: 0 16%; }
  .main .baner {
    height: 400px; }
    .main .baner .wrapper_baner h1 {
      width: 70%;
      font-size: 2rem;
      line-height: 3.4rem; }
  .main .skills .wrapper_skills .columns_skills {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .main .skills .wrapper_skills .columns_skills article {
      width: 50%; }
      .main .skills .wrapper_skills .columns_skills article .progress_bar p {
        left: 41%; }
  .main .portfolio .wrapper_portfolio .desktops figure img {
    height: 225px; } }

@media screen and (max-width: 426px) {
  .header {
    top: 18px; }
    .header .wrapper_header {
      max-width: 960px; }
      .header .wrapper_header .logo {
        height: 22px;
        margin-left: 2.8rem; }
  .main .headline h2 {
    font-size: 2rem; }
  .main .headline p {
    font-size: 1.2rem;
    margin-bottom: 0; }
    .main .headline p.headline_services {
      margin: 0 16%; }
    .main .headline p.headline_team {
      margin: 0 20%; }
    .main .headline p.headline_skills {
      margin: 0 18%; }
  .main .baner {
    height: 370px; }
    .main .baner .wrapper_baner {
      padding-top: 16%;
      padding-bottom: 0; }
      .main .baner .wrapper_baner h1 {
        font-size: 1.8rem;
        line-height: 2.8rem; }
      .main .baner .wrapper_baner .btn-orange {
        width: 12rem;
        height: 4rem;
        font-size: 1.2rem;
        padding-top: 9px;
        margin-top: 8%; }
  .main .services .wrapper_services {
    padding-top: 4%;
    padding-bottom: 4%; }
    .main .services .wrapper_services .columns_services {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
      .main .services .wrapper_services .columns_services article {
        width: 50%;
        margin-top: 28px; }
        .main .services .wrapper_services .columns_services article img {
          height: 90px; }
        .main .services .wrapper_services .columns_services article h4 {
          font-size: 1.6rem;
          margin: 6px 0; }
        .main .services .wrapper_services .columns_services article p {
          font-size: 1.2rem; }
  .main .team .wrapper_team {
    padding-top: 4%;
    padding-bottom: 4%; }
    .main .team .wrapper_team .columns_team article {
      margin-top: 24px; }
      .main .team .wrapper_team .columns_team article img {
        height: 125px; }
      .main .team .wrapper_team .columns_team article h4 {
        font-size: 1.6rem;
        margin-top: 4px; }
      .main .team .wrapper_team .columns_team article h6 {
        font-size: 1.2rem;
        margin-bottom: 0px; }
      .main .team .wrapper_team .columns_team article p {
        font-size: 1.2rem;
        line-height: 1.6rem;
        margin-top: 6px;
        margin-bottom: 8px; }
      .main .team .wrapper_team .columns_team article .icons a {
        width: 2.4rem;
        height: 2.4rem; }
        .main .team .wrapper_team .columns_team article .icons a i {
          font-size: 1.3rem; }
  .main .skills .wrapper_skills {
    padding-top: 4%;
    padding-bottom: 4%; }
    .main .skills .wrapper_skills .columns_skills article {
      margin-top: 24px; }
      .main .skills .wrapper_skills .columns_skills article .progress_bar img {
        height: 100px; }
      .main .skills .wrapper_skills .columns_skills article .progress_bar p {
        font-size: 2.8r;
        top: 26%;
        left: 40%;
        margin: 0; }
      .main .skills .wrapper_skills .columns_skills article h4 {
        font-size: 1.6rem;
        margin-top: 10px;
        margin-bottom: 0px; }
  .main .portfolio .wrapper_portfolio {
    padding-top: 4%;
    padding-bottom: 4%; }
    .main .portfolio .wrapper_portfolio .nav ul li {
      width: 60px; }
      .main .portfolio .wrapper_portfolio .nav ul li a {
        font-size: 1.4rem; }
    .main .portfolio .wrapper_portfolio .desktops {
      -ms-flex-direction: column;
          flex-direction: column;
      margin-top: 16px; }
      .main .portfolio .wrapper_portfolio .desktops figure {
        width: 100%;
        margin-bottom: 30px; }
        .main .portfolio .wrapper_portfolio .desktops figure img {
          height: 200px; }
        .main .portfolio .wrapper_portfolio .desktops figure figcaption {
          margin-top: 6px;
          font-size: 1.2rem; }
    .main .portfolio .wrapper_portfolio .btn-green {
      width: 14rem;
      height: 4rem;
      font-size: 1.2rem;
      padding-top: 11px; }
  .main .testimonials .wrapper_testimonials {
    padding-top: 4%;
    padding-bottom: 4%; }
    .main .testimonials .wrapper_testimonials .people_reviews {
      -ms-flex-direction: column;
          flex-direction: column;
      margin-top: 20px; }
      .main .testimonials .wrapper_testimonials .people_reviews article {
        margin-bottom: 4%;
        width: 95%;
        margin: 10px auto; }
        .main .testimonials .wrapper_testimonials .people_reviews article img {
          height: 90px;
          margin-left: 5%; }
        .main .testimonials .wrapper_testimonials .people_reviews article .review {
          margin-left: 18px; }
          .main .testimonials .wrapper_testimonials .people_reviews article .review p {
            font-size: 1.4rem; }
          .main .testimonials .wrapper_testimonials .people_reviews article .review h4 {
            font-size: 1.6rem;
            margin-top: 6px; }
          .main .testimonials .wrapper_testimonials .people_reviews article .review h6 {
            font-size: 1.2rem; }
  .main .form .wrapper_form {
    padding-top: 4%;
    padding-bottom: 4%; }
    .main .form .wrapper_form .headline p.headline_form {
      white-space: pre-line; }
    .main .form .wrapper_form .section_form {
      width: 75%;
      margin-top: 30px; }
      .main .form .wrapper_form .section_form form .input_name label, .main .form .wrapper_form .section_form form .input_email label, .main .form .wrapper_form .section_form form .textarea label {
        font-size: 1.4rem; }
      .main .form .wrapper_form .section_form form .input_name input, .main .form .wrapper_form .section_form form .input_email input, .main .form .wrapper_form .section_form form .textarea input {
        height: 48px; }
      .main .form .wrapper_form .section_form form .input_name .form-control, .main .form .wrapper_form .section_form form .input_email .form-control, .main .form .wrapper_form .section_form form .textarea .form-control {
        font-size: 1.4rem; }
      .main .form .wrapper_form .section_form form .input_name {
        width: 100%;
        margin-right: 0; }
      .main .form .wrapper_form .section_form form .input_email {
        width: 100%;
        margin-top: 20px; }
      .main .form .wrapper_form .section_form form .textarea {
        margin-top: 20px; }
      .main .form .wrapper_form .section_form form .btn-blue {
        width: 14rem;
        height: 4rem;
        font-size: 1.2rem;
        margin-top: 28px;
        padding-top: 0; }
  .footer {
    height: 70px; }
    .footer .wrapper {
      padding-top: 18px;
      padding-bottom: 10px; }
      .footer .wrapper .nav ul {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
        .footer .wrapper .nav ul li {
          width: 33%; }
          .footer .wrapper .nav ul li a {
            font-size: 1.4rem; } }

@media screen and (max-width: 376px) {
  .main .headline p.headline_services {
    margin: 0 18%; }
  .main .headline p.headline_team {
    margin: 0 18%; }
  .main .headline p.headline_skills {
    margin: 0 18%; }
  .main .headline p.headline_form {
    margin: 0 16%; }
  .main .wrapper_baner h1 {
    width: 80%; }
  .main .services .wrapper_services .columns_services article h4 {
    font-size: 1.4rem; }
  .main .services .wrapper_services .columns_services article p {
    font-size: 1.1rem; }
  .main .team .wrapper_team .columns_team article h4 {
    font-size: 1.4rem; }
  .main .team .wrapper_team .columns_team article h6, .main .team .wrapper_team .columns_team article p {
    font-size: 1.1rem; }
  .main .portfolio .wrapper_portfolio .desktops figure img {
    height: 175px; }
  .main .testimonials .wrapper_testimonials .people_reviews article .review p {
    font-size: 1.3rem; }
  .main .testimonials .wrapper_testimonials .people_reviews article .review h4 {
    font-size: 1.4rem; }
  .main .testimonials .wrapper_testimonials .people_reviews article .review h6 {
    font-size: 1.1rem; }
  .footer {
    height: 90px; }
    .footer .wrapper {
      padding-top: 6px; }
      .footer .wrapper nav ul {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
        .footer .wrapper nav ul li {
          width: 33%; } }

@media screen and (max-width: 326px) {
  .main .headline p.headline_team {
    margin: 0 15%; }
  .main .headline p.headline_skills {
    margin: 0 12%; }
  .main .headline p.headline_portfolio {
    margin: 0 20%; }
  .main .team .wrapper_team .columns_team article {
    width: 100%; }
  .main .skills .wrapper_skills .columns_skills article .progress_bar img {
    height: 90px; }
  .main .skills .wrapper_skills .columns_skills article .progress_bar p {
    font-size: 2.8rem;
    top: 27%;
    left: 37%; }
  .main .skills .wrapper_skills .columns_skills article h4 {
    font-size: 1.5rem; }
  .main .portfolio .wrapper_portfolio .desktops figure img {
    height: 150px; }
  .main .testimonials .wrapper_testimonials .people_reviews article img {
    height: 70px;
    margin-left: 2%; } }

@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important; }
  a,
  a:visited {
    text-decoration: underline; }
  a[href]:after {
    content: " (" attr(href) ")"; }
  abbr[title]:after {
    content: " (" attr(title) ")"; }
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }
  thead {
    display: table-header-group; }
  tr,
  img {
    page-break-inside: avoid; }
  img {
    max-width: 100% !important; }
  @page {
    margin: 0.5cm; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }
  h2,
  h3 {
    page-break-after: avoid; } }
